body{
    font-family: 'Circe', sans-serif;
}
.container{
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
}
.header{
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.container--big{
    max-width: 1350px;
}
.preheader{
    background-color: #f5f5f5;
}
.preheader__row{
    display: flex;
    justify-content: space-between;
   
}
.menu__list,.social{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu__link{
    position: relative;
    display: block;
    padding: 8px 24px;
    box-sizing: border-box;
    color:#959595;
    font-size:18px ;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
}
.menu__link::before{
    content:" " ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    transition: .3s;
    transform: skew(-30deg);
    opacity: 0;
}
.menu__link:hover{
    color: black;
}
.menu__link:hover::before{
    opacity: 1;
}
.social__link{
    display: block;
    box-sizing: border-box;
    padding: 8px;
    line-height: 0;
}
.menu__link span{
    position: relative;
    z-index: 10;
}
.header-center__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 280px;
    height: 72px;
}
.logo img{
    max-width: 100%;
    max-height: 72px;
}
.header-centerP{
    padding: 24px 0 16px;
}
.header-center__item{
    display: flex;
    align-items: center;
}
.header-center__item-icon{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 16px;
}
.header-center__item-icon  svg{
width: 100%;
height: 100%;
}
.header-center__item-text{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    max-width: 224px;
    width: 100%;
}
.header-center__info-number a{
 color: #D93F3C;
 text-align: center;
 font-family: Franklin Gothic;
 font-size: 30px;
 font-style: normal;
 font-weight: 400;
 line-height: 120%;
 text-decoration: none;
}
.header-center__info-number a svg{
    height:24px ;
    width: 24px;
    margin-right: 8px;
    flex-shrink: 0;
}
.header-center__info-row{
    display: flex;
    justify-content: space-between;
}
.header-center__info-schedule{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.header-center__info-callback{
color: #D93F3C;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 150%;
cursor: pointer;
text-decoration:underline ;
text-underline-offset: 4px;
}
.main-menu__list{
    padding:16px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.mein-menu__link{
color: #000;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 150%; /* 24px */
text-decoration: none;
}

/* .zagalovok span{
    color: #D93F3C;
}
.zagalovok h1{
    text-align: center;
}
.info p{
    font-size: 20px;
    text-align: center;
} */
.breadcrumbs{
    padding: 13px 0 40px;
}
.breadcrumbs__list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.breadcrumbs__link{
text-decoration: none;
color: #A4A4A4;
font-size: 18px;
font-weight: 400;
line-height: 24px; /* 133.333% */
}
.breadcrumbs__item:not(:first-child) .breadcrumbs__link::before{
    content: '>';
    margin: 1px 4px 0;
}
.main-title{
color: #000;
font-family:  'Franklin Gothic ';
font-size: 56px;
font-weight: 400;
line-height: normal;
margin: 0 0 30px 0;
}
.main-title span{
    color: #D93F3C; 
}
.gallery__row{
    display: flex;
    margin: 0 -8px;
}
.gallery__item-container{
padding: 0 8px;
box-sizing: border-box;
width: 33.3%;
}
.gallery-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-text{
    margin-top: 30px;
    padding: 16px 0 16px 20px;
    box-sizing: border-box;
    border-left: 4px solid #D93F3C;
}
.main-text p{
color: #000;
font-size: 20px;
font-weight: 400;
line-height: normal;
margin: 0;
}
.main-text p + p{
    margin-top: 20px;
}
.gallery-video{
   width: 560px;
   height: 315px;
   flex-shrink: 0;
}
/* 
.semi-main{
    margin-top: 60px;
}
.semi-main span{
color: #D93F3C;
font-size: 33px;
font-weight: 400;
line-height: 48px;
font-weight: 500;
}
.semi-main h2{
color: #000;
font-size: 33px;
font-weight: 400;
line-height: 48px; 
font-weight: 500;
}
.map_row{
    display: flex;
    justify-content: space-between;
}
.map_left p{
    font-size: 20px;
    padding: 25px;
    border-bottom: 4px solid #D93F3C;
}
.info span{
    color: #D93F3C;
font-family: 'Circe ';
font-size: 18px;
font-weight: 400;
line-height: normal;
}
.info h3{
color: #000;
font-family: 'Circe';
font-size: 18px;
font-weight: 400;
line-height: normal;
}
 .info_1{
    border-bottom: 2px solid #000000;
    width: 660px;
}
.info_2{
    border-bottom: 2px solid #000000;
    width: 660px;
}
.info_3{
    border-bottom: 2px solid #000000;
    width: 660px;
}
.info_4{
    border-bottom: 2px solid #000000;
    width: 660px;
}
.info_5{
    border-bottom: 2px solid #000000;
    width: 660px;
} 
.middle__item h2{
color: #000;
font-size: 48px;
font-weight: 400;
line-height: 48px;
}
.middle__item span{
color: #D93F3C;
font-size: 48px;
font-weight: 400;
line-height: 48px; 
}
.middle__item p{
    margin: 15px;
    font-size: 17px;
}
.middle__list{
    display: flex;
}
.block_1{
    margin: 10px;
}
.block_2{
    margin: 10px;
}
.block_3{
    margin: 10px;
}
.block_4{
    margin: 10px;
} 
 */
 .about{
  padding: 40px 0 30px;  
  background: url('../images/bg1.png');
 }
 .about__row{
    display: flex;
    justify-content: space-between;
 }
 .about__right{
    max-width: 560px;
    width: 100%;
    flex-shrink: 0;
 }
 .about__title{
color: #000;
font-family: 'Franklin Gothic';
font-size: 48px;
font-weight: 400;
line-height: 48px; 
margin: 0 0 30px 0;
 }
 .about__title span{
    color: #D93F3C;
 }
 .about__desc { 
position: relative;
padding-bottom: 30px;
color: #000;
font-size: 18px;
font-weight: 400;
line-height: normal;
 }

 .about__desc ::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55px;
    height: 4px;
    background-color: #D93F3C;
 }
 .about__desc p{
    margin: 0;
 }
 .about__list{
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
 }
 .about__item{
position: relative;
color: #000;
font-size: 18px;
font-weight: 400;
line-height: normal;
 }
 .about__item :not(:last-child){
    padding-bottom: 15px;
 }
 .about__item :not(:last-child)::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 464px;
    height: 1px;
    background-color: #000;
 }
 .about__item + .about__item{
    margin-top: 15px;
 }
 .about__item span{
    color: #D93F3C;
 }
 .people{
    padding: 40px 0;
 }
 .people__title{
color: #000;
font-family: 'Franklin Gothic';
font-size: 48px;
font-weight: 400;
line-height: 48px;
 }
 .people__title span{
color: #D93F3C;
 }
 .people__desc{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
 }
 .people__desc p{
    margin: 0;
 }
 .people__slider{
    display: flex;
    margin: -8px;
 }
.people__item-container{
    padding: 8px;
    width: 25%;
    box-sizing: border-box;
}
.people-item__image{
    height: 300px;
    position: relative;
    overflow: hidden;
}
.people-item__image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .4s;
}
.people-item__image:hover img{
    transform: scale(1.35);
}
.people-item__list{
padding: 0;
margin: 24px 0 0 0;
list-style: none;
color: #000;
font-size: 18px;
font-weight: 400;
line-height: normal;

}
.people__arrows{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.people__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    border: 1px solid #D93F3C;
    box-sizing: border-box;
    cursor: pointer;
}
.people__arrow + .people__arrow{
    margin-left: -1px;
}
.people__arrow svg{
    height: 16px;
    width: 16px;
}